@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-margin-x: 70px;
  --section-pad-y: 70px;
  --section-inbetween-lg: 40px;
  --section-inbetween-md: 20px;

  --logo-font-size: 1.25rem;
  --menu-font-size: 1.125rem;
  --button-font-size: 1.125rem;
  --section-title-font-size: 2.375rem;
}

@layer base {
  body {
    @apply bg-bg text-text scroll-smooth;
  }

  * {
    @apply box-border font-normal not-italic text-base;
  }
}

@layer utilities {
  .btn-primary,
  .btn-secondary {
    @apply text-text text-button font-medium capitalize px-9 py-2.5 rounded-xl;
  }

  .btn-primary {
    @apply bg-primary;
  }

  .btn-secondary {
    @apply bg-secondary;
  }
}
